.menu {
	&_dropdown {
		position: absolute;
		display: flex;
		flex-direction: column;
		gap: 8px;
		padding: 8px;
		background: var(--dark);
		border-radius: 16px;
		box-shadow: 0 0 12px 4px #16161e;
	}
	&_item {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 16px;
		padding: 16px;
	}
}
