.basicButton {
	border-radius: 8px;
	transition: background 0.2s ease-in-out;
	&[color='default'] {
		background: var(--gray-2);
		.basicButton_icon {
			svg {
				fill: var(--light-2);
			}
		}
		.basicButton_label {
			color: var(--light-2);
		}
		.basicButton_subLablel {
			color: var(--light-3);
		}
		&:hover {
			background: var(--gray-1);
			.basicButton_icon {
				svg {
					fill: var(--light-1);
				}
			}
			.basicButton_label {
				color: var(--light-1);
			}
			.basicButton_subLablel {
				color: var(--light-2);
			}
		}
	}
	&[color='noBackground'] {
		background: transparent;
		.basicButton_icon {
			svg {
				fill: var(--light-2);
			}
		}
		.basicButton_label {
			color: var(--light-2);
		}
		.basicButton_subLablel {
			color: var(--light-3);
		}
		&:hover {
			.basicButton_icon {
				svg {
					fill: var(--light-1);
				}
			}
			.basicButton_label {
				color: var(--light-1);
			}
			.basicButton_subLablel {
				color: var(--light-2);
			}
		}
	}
	&[color='noBackgroundToBackground'] {
		background: transparent;
		.basicButton_icon {
			svg {
				fill: var(--light-2);
			}
		}
		.basicButton_label {
			color: var(--light-2);
		}
		.basicButton_subLablel {
			color: var(--light-3);
		}
		&:hover {
			background: var(--gray-1);
			.basicButton_icon {
				svg {
					fill: var(--light-1);
				}
			}
			.basicButton_label {
				color: var(--light-1);
			}
			.basicButton_subLablel {
				color: var(--light-2);
			}
		}
	}
	&[color='selectedDefault'] {
		background: var(--gray-1);
		.basicButton_icon {
			svg {
				fill: var(--light-1);
			}
		}
		.basicButton_label {
			color: var(--light-1);
		}
		.basicButton_subLablel {
			color: var(--light-2);
		}
	}
	&[color='selectedPrimary'] {
		background: var(--primary-1);

		.basicButton_icon {
			svg {
				fill: var(--light-1);
			}
		}
		.basicButton_label {
			color: var(--light-1);
		}
		.basicButton_subLablel {
			color: var(--light-2);
		}
	}
	&[color='primary'] {
		background: var(--primary-1);
		.basicButton_icon {
			svg {
				fill: var(--light-1);
			}
		}
		.basicButton_label {
			color: var(--light-1);
		}
		.basicButton_subLablel {
			color: var(--light-2);
		}
		&:hover {
			background: var(--primary-2);
		}
	}
	&[color='gradient'] {
		position: relative;
		background: linear-gradient(
			180deg,
			var(--primary-1) 0%,
			var(--primary-3) 100%
		);

		.basicButton_icon {
			z-index: 2;
			svg {
				fill: var(--light-1);
			}
		}
		.basicButton_label {
			color: var(--light-1);
			z-index: 2;
		}
		.basicButton_subLablel {
			color: var(--light-2);
			z-index: 2;
		}
		&:hover {
			&::after {
				opacity: 1;
			}
		}
		&::after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 1;
			background: linear-gradient(
				180deg,
				var(--primary-2) 0%,
				var(--primary-4) 100%
			);
			border-radius: 8px;
			opacity: 0;
			transition: opacity 0.2s ease-in-out;
		}
	}
	&[color='yellow'] {
		background: var(--yellow-1);
		.basicButton_icon {
			svg {
				fill: var(--orange-1);
			}
		}
		.basicButton_label {
			color: var(--orange-1);
		}
		.basicButton_subLablel {
			color: var(--orange-1);
		}
	}
	&:disabled {
		opacity: 0.5;
		pointer-events: none;
	}
	&_icon {
		display: flex;
		position: relative;
		svg {
			transition: fill 0.2s ease-in-out;
		}
	}
	&_labelMultiTier {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 8px;
	}
	&_label {
		position: relative;
		font-weight: 600;
		font-size: 24px;
		line-height: 24px;
		transition: color 0.2s ease-in-out;
	}
	&_subLablel {
		position: relative;
		font-weight: 500;
		font-size: 16px;
		line-height: 16px;
		transition: color 0.2s ease-in-out;
	}
}

@media (max-width: 967px) {
	.basicButton {
		&_icon {
			width: 24px;
			height: 24px;
		}
		&_labelMultiTier {
			gap: 4px;
		}
		&_label {
			font-size: 18px;
			line-height: 18px;
		}
		&_subLablel {
			font-size: 12px;
			line-height: 14px;
		}
	}
}
