.langSwicher {
	&-target {
		font-weight: 600;
		font-size: 24px;
		line-height: 32px;
		color: var(--light-2);
		text-transform: uppercase;
		cursor: pointer;
		transition: color 0.2s ease-in-out;
		&:hover {
			color: var(--light-1);
		}
	}
	&-dropdown {
		gap: 8px;
		padding: 8px;
	}
	&-menuItem {
		padding: 8px;
	}
}
