.langSwicher {
	&_target {
		text-transform: uppercase;
	}
	&_dropdown {
		gap: 8px;
		padding: 8px;
	}
	&_menuItem {
		width: 80px;
		padding: 16px;
		justify-content: center;
		text-transform: uppercase;
	}
}
