.defaultButton {
	display: flex;
	align-items: center;
	gap: 24px;
	height: 80px;
	padding: 0 24px;
	border-radius: 8px;
	&.single {
		justify-content: center;
	}
	&.multiTier {
		justify-content: center;
	}
	&.multiTierWithChevron {
		justify-content: space-between;
		.basicButton_labelMultiTier {
			align-items: flex-start;
		}
	}
	&_multiTier_wrapper {
		display: flex;
		align-items: center;
		gap: 24px;
	}
}

@media (max-width: 967px) {
	.defaultButton {
		gap: 20px;
		height: 64px;
		padding: 0 20px;
		&_multiTier_wrapper {
			gap: 20px;
		}
	}
}
